.universal-bar{
	background-color:#60ae2b;
}

.universal-bar ul.menu.inline-list{
	overflow:hidden;
	margin:0;
}

.universal-bar ul.menu.inline-list li{
	float:left;
	margin:0;
}

.universal-bar ul.menu.inline-list li > a{
	line-height:45px;
	color:black;
	padding:0 1rem;
}
