.universal-bar{
	background-color:#60ae2b;
	height:45px;
}

.universal-bar ul.menu.inline-list{
	position:relative;
	overflow:visible;
	margin:0;
}

.universal-bar ul.menu.inline-list li{
	float:left;
	margin:0;
}

.universal-bar ul.menu.inline-list > li > a{
	line-height:45px;
	color:white;
	padding:0 1rem;
}

.universal-bar ul.menu.inline-list > li > a{
	height:45px;
}

.universal-bar ul.menu.inline-list > li > a.button{
	margin-bottom:0;
}

.notif-count{
	background-color: #c42b2b;
	padding: .25rem;
	font-size: .75rem;
	position:relative;
	top:-.5rem;
	display:none;
}

.universal-bar ul.menu.inline-list li.active-display-panel::after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 1.5rem solid transparent;
	border-right: 1.5rem solid transparent;
	border-bottom: .75rem solid #c8c8c8;
	position: absolute;
	overflow: hidden;
	margin-top: -.75rem;
}

.universal-bar ul.menu.inline-list li .display-panel{
	display:none;
	background-color: #fff;
	border:1px solid #808080;
	width: 20rem;
	max-width:100vw;
	min-height: 15rem;
	position: absolute;
	top: auto;
	right: 0;
	z-index: 9;
}

.universal-bar ul.menu.inline-list li.active-display-panel .display-panel{
	display:block;
}

.universal-bar #toggle-sites-list .display-panel{
	background-color:#515050;
}

.universal-bar #toggle-sites-list .display-panel-footer{
	background-color:#fff;
}

.universal-bar #toggle-sites-list ul.sites-list{
	padding:1rem;
}

.display-panel .display-panel-footer{
	border-top:1px solid #808080;
	text-align:center;
	padding:1rem;
}

.notif-ication a{
	display:block;
	color:inherit;
	padding: 1rem;
	border-bottom: 1px solid rgb(162, 162, 162);
}

.notif-ication a.unread{
	background-color:#f0f0ff;
}

.notif-ication .notif-message p{
	display:inline;
}

.notif-ication .notif-created{
	font-size:.875rem;
	color:#888;
}

.notif-ication-wrapper{
	position:relative;
}

.notif-ication-wrapper .notif-ication a{
	padding-right:2rem;
}

.notif-ication-wrapper .flag-read-wrapper{
	position:absolute;
	top:.5rem;
	right:.5rem;
}

.notif-ication-wrapper .flag-read-wrapper .flag-wrapper,
.notif-ication-wrapper .flag-read-wrapper a.flag-link-toggle{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.notif-ication-wrapper .flag-read-wrapper a.flag-link-toggle{
		text-indent:9999px;
}

.notif-ication-wrapper .flag-read-wrapper.unread .fa-circle-o{
	display:none;
}

.notif-ication-wrapper .flag-read-wrapper.read .fa-circle{
	display:none;
}
